nav {
  background: #346bae;
  padding: 20px;
}
.nav-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-link{
  display: none;
}

.logo-div{
  display: flex;
  gap: 10px;
  object-fit: cover;
  width: 25px;
  height: 25px;
  align-items: center;
}

.logo-div p{
  font-size: 21px;
  font-weight: 700;
}



.navLinks {
  display: flex;
  align-items: center;
  color: white;
}

.active {
  color: #00bcd1;
}

.navLinks li {
  margin-left: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  font-family: "Gorditas", serif;
}

@media only screen and (min-width: 860px) {
  .logo {
    width: 150px;
  }

  .nav-data {
    width: 90%;
    margin: 0 auto;
  }

  .navLinks li {
    margin-left: 35px;
    font-size: 18px;
  }

  .home-link{
    display: flex;
  }
}
