footer {
  background: #346bae;
  color: white;
}

.footer-main {
  width: 80%;
  margin: 0 auto;
}

.footer-top {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.footer-subscribe {
  background: white;
  padding-left: 0.6rem;
  border-radius: 5px;
  display: flex;
  flex: 1;
}

.footer-subscribe input {
  outline: none;
  border: none;
  font-size: 1rem;
  flex: 1;
  color: #b8b2b2;
  font-family: "Nunito Sans", sans-serif;
}

.footer-subscribe button {
  padding: 1.5rem;
  border-radius: 5px;
  border: 0;
  background: #00bcd1;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-subscribe button:hover {
  background: black;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  align-items: last baseline;
  cursor: pointer;
}

.footer-icons i:hover {
  color: #00bcd1;
}

.hr {
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: -0;
  right: -0;
}

.footer-info p,
.footer-departments p,
.footer-quicklinks p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  padding: 0.7rem 0;
}

.footer-departments p:hover,
.footer-quicklinks p:hover {
  color: #00bcd1;
}
.footer-mid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.footer-departments h2,
.footer-quicklinks h2 {
  text-decoration: underline;
  margin-top: 1rem;
}

.footer-sign {
  gap: 10%;
  background: #3164a3;
}

.sign-info {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sign-info p {
  font-family: "Nunito Sans", sans-serif;
}

@media only screen and (min-width: 700px) {
  .hr {
    display: block;
  }
  .footer-top {
    justify-content: space-between;
    gap: 10%;
  }

  .footer-subscribe button {
    padding: 1.5rem 2.5rem;
  }

  .footer-sub {
    display: flex;
    justify-content: space-between;
  }
  .sign-info {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-top {
    justify-content: space-between;
    gap: 30%;
  }
  .footer-mid {
    display: flex;
    flex-direction: row;
  }

  .footer-info {
    width: 35%;
    margin-right: 5%;
  }
  .footer-sub {
    flex: 1;
  }
}
